* {
    padding: 0;
    margin: 0;   
}

body {
    font-family: 'calibri';
    background-image: linear-gradient(245.59deg, #4d9559 0%, #38703d 28.53%, #133917 75.52%);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Navigation bar */

.brand {
    float: left;
    font-size: larger;
    font-weight: bold;
    padding-left: 2%;
    color: white;
}

.nav {
    /* positions elements to the right and adds a line break */
    display: flex; 
    /* inverts the order of the list in the nav bar */
    flex-direction: row-reverse; 

}

.nav li{
    /* positions elements in the navbar to the left */
    float: left; 
}

.nav ul {
    list-style: none; 
}

.nav li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none; 
}

.nav li a:hover {
    background-color: #333; 
    /* sets a smooth transition between nav buttons */
    transition: background-color .3s; 
}

.nav .active-nav {
    /* underline active nav button */
    text-decoration: underline; 
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    /* positions elements to the right and adds a line break */
    display: flex; 
    /* inverts the order of the list in the nav bar */
    flex-direction: row-reverse;
}

/* Dropdown Content on brand (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background: inherit; 
    backdrop-filter: blur(10px); 
    border-radius: 20px;
}

/* Links inside the dropdown */
.dropdown-content a{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content .active-menu {
    text-decoration: underline; 
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: rgb(190, 151, 76);
    border-radius: 20px;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .hamburger-btn {
    color: white;
}

/* targets body content like paragraphs */
.content {
    flex: 1;
    padding-top: 2%;
}

/* formats footer */
footer {
    text-align: center;
    padding-top: 2%;
    margin-top: auto;
    color: white;
}

/* form */
form {
    background-color: #343434;
    padding: 2%;
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 30px;
    color: white;
}

h2 {
    color: #38703d;
}

/* formatting input */
input {
    padding: 2%;
    border-radius: 20px;
    border-style: none;
    margin-bottom: 2%;
    margin-right: 2%;
    width: 35%;
}

.textfield {
    width: 95%;
}

select {
    padding: 1%;
    border-radius: 20px;
    border-style: none;
    margin-bottom: 2%;
    margin-right: 2%;
    width: 100%;
}

.button {
    margin-top: 2%;
    padding: 2%;
    color: white;
    background-color: #38703d;
    width: 100%;
}

input.button:hover {
    background-color: #204723;
}

/* gallery styles */

div.candidates {
    padding: 1%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

div.gallery {
    margin: 10px;
    float: left;
    width: 10%;
  }
  
div.gallery:hover {
    /* adds smooth transition of zoom in effect */
    transition: ease-in 0.3s;
    /* adds effect to zoom in subject */
    transform: scale(1.1);
}

div.gallery img {
    max-width: 100%;
    border-radius: 100px;
}

div.desc {
    padding: 15px;
    text-align: center;
}

/* vote counter */
div.voteCounter {
    color: white;
    background-color: #38703d;
    border-radius: 30px;
    padding-left: 8%;
}

/* responsive media queries */

/* screens below 1024px such as tablets and mobile devices */
@media all and (width < 1024px) {

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dots {
        display:none;
    }

    .nav {
        display: none;
    }

    .about{
        width: 250px;
        height: 250px;
    }

    form {
        margin-left: 20%;
        margin-right: 20%;
    }

    select {
        width: 100%;
    }

    /* Style The Dropdown Button */
    .hamburger-btn {
        background-image: url(../img/menu-light.png);
        background-repeat: no-repeat;
        padding: 16px;
        font-size: 24px;
        border: none;
        cursor: pointer;
    }

    div.gallery {
        width: 100px;
    }
}

/* screens below 1024px such as laptops and desktops */
@media all and (width > 1024px) {

}